/* Button style*/
button
{
    border: 2px solid lightblue;
    border-radius: 0%;
    background-color: lightblue;
    font-size: 14px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    transition-delay: 0.2s;
}

button:hover
{
    background-color: white;
    color: lightblue;
    border-color: lightblue;
}

